<div class="container">
  <app-header></app-header>
</div>

<div class="container">
    <h3 class="text-center">All Catagories</h3><br>
     <div class="row">
       <div class="col-sm" *ngFor="let category of categories">
        <div class="card"style="width: 18rem;">
          <div  (click)="onSelectCategory(category)" >
          <img src="{{_image_url+category.catImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{category.catName}}</h4>
            <h5 class="card-text">shop the best products here.</h5>
              <button class="btn btn-warning" routerLink="/products">Shop here</button>
            
          </div>
        </div>
          
        </div>
       </div>
     </div>
    
   
</div>

    
      <!-- <div class="card" style="width: 18rem;">
        <img src="..\assets\img\dairylogo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dairy</h5>
          <p class="card-text">Some quick example text to build on the card title .</p>
          <a href="#" class="btn btn-primary">Shop here</a>
        </div>
      </div>
      <br>
      
      <div class="card" style="width: 18rem;">
        <img src="..\assets\img\veglogo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vegetables</h5>
          <p class="card-text">Some quick example text to build on the card title .</p>
          <a href="#" class="btn btn-primary">Shop here</a>
        </div>
      </div>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="..\assets\img\beveragelogo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beverages</h5>
          <p class="card-text">Some quick example text to build on the card title .</p>
          <a href="#" class="btn btn-primary">Shop here</a>
        </div>
      </div> -->

     
    
      